
.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "sidebar main";

    height: 100vh;
    width: 100vw;
  .left-side-bar{
    grid-area: sidebar;
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  .main{
    grid-area: main;
    height: 1887px;
    width: 100%;

    .map-container{
    position: relative;
    background-image:url("../../assets/images/got-map.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .add-template{
      position: relative;
    }
    }
  }
}


